* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
* p {
  font-family: "Open Sans", sans-serif;
}
* a {
  text-decoration: none;
}

.bgcolor {
  background: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  padding: 30px 30px 50px;
}
.bgcolor .header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 25px;
}
.bgcolor .header .logo {
  width: 50%;
  max-width: 200px;
}
.bgcolor .header .logo img {
  width: 100%;
  vertical-align: bottom;
}
.bgcolor .header .btn {
  margin-left: 20px;
  width: 50%;
  max-width: 200px;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 1px 1px 10px #ebe7e7;
}
.bgcolor .txt {
  text-align: center;
}
.bgcolor .txt h1 {
  margin: 30px;
  font-size: 1.5rem;
}
.bgcolor .txt p {
  font-weight: 600;
  font-size: 1rem;
}
.bgcolor .txt .btn {
  background-color: #ff52bf;
  color: #fff;
  border-radius: 30px;
  padding: 10px 40px;
  margin: 30px auto 50px;
  box-shadow: 2px 2px 10px #7d9197;
}
.bgcolor .pic {
  margin: auto;
  max-width: 700px;
}
.bgcolor .pic img {
  width: 100%;
  vertical-align: middle;
}

.content {
  margin: 30px auto;
  padding: 5%;
}
.content .first,
.content .second,
.content .third {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #e8e8e8;
  margin: 50px auto;
  background-color: #fff;
}
.content .pic {
  margin: 60px auto;
  max-width: 500px;
}
.content .pic img {
  width: 100%;
  vertical-align: middle;
}
.content .txt {
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.content .txt h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.content .txt p {
  color: #808d99;
}

.footer {
  position: relative;
  padding: 150px 5% 30px;
  background-color: #00252e;
  color: #fff;
  margin-top: 70px;
}
.footer .ready {
  color: #000;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px #e8e8e8;
  margin: 5%;
  padding-top: 30px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 1;
}
.footer .ready h3 {
  font-size: 1.5rem;
  padding: 0 10px;
  margin-bottom: 20px;
}
.footer .ready .btn {
  background-color: #ff52bf;
  color: #fff;
  border-radius: 30px;
  padding: 10px 40px;
  margin: 0 auto 30px;
  box-shadow: 2px 2px 10px #7c7c7c;
}
.footer .logo {
  margin-bottom: 30px;
}
.footer .message .contact {
  margin-bottom: 20px;
}
.footer .message .contact div {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.footer .message .contact div .pic {
  width: 10%;
}
.footer .message .contact div .pic img {
  vertical-align: top;
  width: 18px;
  height: -webkit-fit-content;
  height: fit-content;
}
.footer .message .contact div p {
  width: 90%;
  margin: 0 10px;
}
.footer .other {
  margin: 20px 0;
}
.footer .other a {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.footer .other a:hover {
  color: #ff52bf;
  text-decoration: none;
}
.footer .icon {
  margin: 60px auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .icon .fab {
  margin: 0 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.footer .icon .fa-facebook-f {
  padding: 10px 13px;
}
.footer .icon .fab:hover {
  color: #00252e;
  background-color: #fff;
  cursor: pointer;
}
.footer footer {
  text-align: center;
  font-size: 11px;
}
.footer footer .attribution a {
  color: #a6a6a6;
}

@media only screen and (min-width: 500px) {
  .first,
.second,
.third {
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px;
    justify-content: center;
  }
  .first .txt,
.second .txt,
.third .txt {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .first .txt h3,
.second .txt h3,
.third .txt h3 {
    align-self: flex-start;
    font-size: 1.75rem;
  }
  .first .pic,
.second .pic,
.third .pic {
    width: 40%;
    margin: 20px;
  }

  .second {
    flex-direction: row;
  }

  .footer .ready {
    width: 500px;
    margin: 5%;
    position: absolute;
    top: -18%;
    left: 50%;
    z-index: 1;
    margin-left: -250px;
    margin-right: -250px;
  }
  .footer .ready h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 830px) {
  .main {
    max-width: 1400px;
    margin: auto;
  }
  .main .txt h1 {
    margin: 30px;
    font-size: 2rem;
  }
  .main .txt p {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .main .pic {
    margin: 0;
  }

  .footer .ready {
    top: -30%;
  }
  .footer .message {
    display: flex;
  }
  .footer .message .contact {
    flex: 40%;
    padding: 0;
    margin: 0 0 50px;
  }
  .footer .message .contact div {
    margin: 0;
    padding: 0;
  }
  .footer .message .contact div .pic {
    margin: 0;
    padding: 0;
  }
  .footer .message .contact div p {
    margin: 0;
    padding: 0 0 10px;
    text-align: justify;
  }
  .footer .message .icon,
.footer .message .other1,
.footer .message .other2 {
    flex: 20%;
    padding: 0;
    margin: 0;
  }
  .footer .message .other {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .message .other a {
    margin: 0;
    padding: 0 0 10px;
  }
  .footer .message .icon {
    display: block;
  }
  .footer .message .icon .fab {
    margin: 0 3px;
  }
}